.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  text-align: center;
}






p{
    text-align: center;
      font-size: 25px;
color: white;
    margin: 0px;
}


.lista {
  list-style: none;
  padding: 0;
}

.lista li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.imagen {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.imagen2 {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.lista h2 {
  margin-top: 0;
}

#h1t{
    text-align: center;
      font-size: 80px;
    color: white;

}
.h3r{
    text-align: center;
    background-color: orangered;
    font-size: 50px;
    color: white;
}
.h4r{
    text-align: center;
    background-color: orangered;
    font-size: 50px;
    color: white;
}
.h5r{
    text-align: center;
    background-color: orangered;
    font-size: 50px;
    color: white;
}
.h6r{
    text-align: center;
    background-color: orangered;
    font-size: 50px;
    color: white;
}
.h7r{
    text-align: center;
    background-color: orangered;
    font-size: 50px;
    color: white;
}
.h8r{
    text-align: center;
    background-color: orangered;
    font-size: 50px;
    color: white;
}
body{
    background: black;
}
